@charset "utf-8"
/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */

//tema tecmimun

$primario1: #1E1E5A //Azul fuerte
$sub-primario1: #0000FF
$primario2: #78A42E //#2EA440 //Verde fuerte
$sub-primario2: #17CF33

$colorrr: #714414




$primary: $primario1
$success: $primario2
$warning: $sub-primario2

$link: $primario1

$title-color: $primario1

$navbar-background-color: #8bc34a
$navbar-item-color: #fff
$navbar-padding-horizontal: .5rem



$hero-padding: 2rem 1.5rem

// footer
$footer-padding: 2rem 1.5rem 2rem
$footer-background-color: $primario2

// Tamaños
$navbar-item-img-max-height: 4rem
$modal-content-width: 900px

        
//Todos los elementos de bulma    
@import "utilities/_all"
@import "base/_all"
@import "elements/_all"
@import "components/_all"
@import "grid/_all"
@import "layout/_all"




.content
    position: relative

.hero
    .title-hero 
        width: 100%
        position: absolute
        top: 75%



.is-bluegrey
    background-color: #607d8b

.is-gradient-blue
    background-image: linear-gradient(150deg, #05327e, #4c9eaf)
    //background-image: linear-gradient(#448aff, #4caf50)

.is-gradient-green
    background-image: linear-gradient(150deg, #46768d, #1aa0bc)

.is-ll
    background-color: #eceff1