@charset "utf-8"
/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */

//tema tecmimun

$primario1: #1E1E5A //Azul fuerte
$sub-primario1: #0000FF
$primario2: #2EA440 //Verde fuerte
$sub-primario2: #17CF33





$primary: $primario1

$link: $sub-primario2

$title-color: $primario1

$navbar-background-color: #fff9
$navbar-item-color: $primario1
$navbar-padding-horizontal: .5rem

// footer
$footer-padding: 3rem 1.5rem 2rem

// Tamaños
//$navbar-item-img-max-height: 4rem

        
//Todos los elementos de bulma    
@import "utilities/_all"
@import "base/_all"
@import "elements/_all"
@import "components/_all"
@import "grid/_all"
@import "layout/_all"


//ui-kit
//----------------- Sldier ---------------
$global-color: white
$slide-items-color: white
$slide-hover-color: $primario2
$active-color: $primario2
//$global-emphasis-color: #607d8b

@import "slider-uikit/import"


.content
    position: relative

.hero
    .title-hero 
        width: 100%
        position: absolute
        top: 75%