@charset "utf-8"
/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */

// Colores aun no definidos
$primary: #091951
$link: #43a047
$success: green

$navbar-background-color: #fff9
$navbar-item-color: black

// Tamaños
//$navbar-item-img-max-height: 4rem

        
//Todos los elementos de bulma    
@import "utilities/_all"
@import "base/_all"
@import "elements/_all"
@import "components/_all"
@import "grid/_all"
@import "layout/_all"


//ui-kit
//----------------- Sldier ---------------
$global-color: white
$slide-items-color: white
$slide-hover-color: green
$active-color:green
//$global-emphasis-color: #607d8b

@import "slider-uikit/import"
