.bandera{
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: auto;
  background-image: url('../img/gb.png');
  background-position: center;
  background-size: 100%;
}

.black-box{
  display: block;
  padding: 1.25rem;
}

.split{
  font-size: 10em;
}

#codigo{
  text-align: center;
  background-color: transparent;
  color: #78a42e;
}